@model IEnumerable<DB_Project.Models.Professors>

@{
    ViewData["Title"] = "Professors";
}
<html>
<head>

</head>
<body style="background-color:#debab1">
    <!--<div style="padding: 0% 5% 0% 5%;">

        <div style="display: flex; justify-content:center">
            <div style="font-size:26px;">Professors</div>
        </div>

        @foreach (var item in Model)
        {
            <div>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor_Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office_Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Professor_Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Average_Rating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Professor_Email">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Professor_Email">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Professor_Email">Delete</a>
                    </td>
                </tr>
            </div>
        }-->
        

        @*<div style="display: flex; align-items:center; padding:0% 25% 0% 5%; flex-direction:column">
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <div class="card" style="padding:0px 10px 0px 10px; width:100%; margin:5px 0px 5px 0px">
                            <div style="font-size:20px">
                                <span>Name: @Data.Professor_Name</span>
                                <span style="float: right">Average Rating @Data.Average_Rating/5</span>
                            </div>
                            <div><span>Professor Email: @Data.Professor_Email</span></div>
                            <div><span>Office Location: @Data.Office_Location</span></div>
                            <div><span>Professor Website: <a href="@Data.Professor_Website" target="_blank">@Data.Professor_Website</a></span></div>
                        </div>
                    }
                }
            }
        </div>*@

    <!--</div>-->
</body>
</html>